section.login-container {
  width: 900px;
  margin: auto;
  //border:1px solid black;
}


form {
  width: 520px;
  //width:100%;
  padding: 20px;
  margin: auto;
}

//fieldset {
//}
//
//form input[type="text"],
//form input[type="email"],
//form input[type="password"] {
//
//}